.card-item {
    list-style: none;
    width: 20%;
    margin-bottom: 30px;
}

.main-container {
    background-color: #10112e;
    color: #fff;
}

.main-container h1 {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 20px;
}

.text-field {
    font-size: 17px;
    font-weight: 550;
}

.parent-list-container {
    height: 100%;
}

.card-container {
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 0.5);
    width: 18rem
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #142e56;

}

.nav-btns {
    color: #fff !important;
    margin-right: 30px;
}

.loader-container {
    height: 100vh;
}

@media screen and (min-width:1024px) and (max-width:1440px) {
    .card-item {
        width: 33%;
    }


}

@media screen and (min-width:768px) and (max-width:1023px) {
    .card-item {
        width: 50%;
    }


}

@media screen and (min-width:320px) and (max-width:450px) {
    .card-item {
        width: 85vw;
        display: flex;
        justify-content: center;
        justify-self: center !important;
    }


    .card-container {
        width: 16rem;
    }



}